html {
  height: 100%;
  background-color: $light-background;
}
body {
  margin: 0;
  padding: 0;
  font-family: $text-font;
  color: $primary-text;
}

#content-container {
  background-color: $light-background;
  @include flex($center, $column);
  margin-top: 10px;
}

@include mq(medium) {
  #content-container {
    flex-direction: $row;
  }
}

#modal-backdrop {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: $modal-backdrop;
  backdrop-filter: blur(2px);
  @include flex($center, $row, $no-wrap, $center);
}
