body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  color: #5c5c5c;
}

#content-container {
  background-color: #EEEEEE;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-items: normal;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  #content-container {
    flex-direction: row;
  }
}
#modal-backdrop {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba(35, 46, 70, 0.1);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: center;
}

#add-button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: center;
  background-color: #1a1f71;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  font-size: 40px;
  font-weight: bold;
  border: 0px;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
}
#add-button:hover {
  background-color: #003ea9;
}

#card-small-button-view {
  background-color: #1a1f71;
  color: #ffffff;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.2s ease-in, top 0.2s ease-in;
}
#card-small-button-view:hover {
  background-color: #003ea9;
}

#card-small-button-edit {
  background-color: #f7b600;
  color: #ffffff;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.2s ease-in, top 0.2s ease-in;
}
#card-small-button-edit:hover {
  background-color: #FFD700;
}

#card-small-button-delete {
  background-color: #D50000;
  color: #ffffff;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.2s ease-in, top 0.2s ease-in;
}
#card-small-button-delete:hover {
  background-color: #ef4c4c;
}

#large-back-btn {
  background-color: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding-top: 5px;
  color: #1a1f71;
  border: 1.5px solid #1a1f71;
  cursor: pointer;
}

#card-large-button-edit {
  background-color: #f7b600;
  color: #ffffff;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.2s ease-in, top 0.2s ease-in;
  width: 100px;
}
#card-large-button-edit:hover {
  background-color: #FFD700;
}
@media screen and (min-width: 768px) {
  #card-large-button-edit {
    width: 150px;
  }
}

#card-large-button-delete {
  background-color: #D50000;
  color: #ffffff;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.2s ease-in, top 0.2s ease-in;
  width: 100px;
}
#card-large-button-delete:hover {
  background-color: #ef4c4c;
}
@media screen and (min-width: 768px) {
  #card-large-button-delete {
    width: 150px;
  }
}

#form-user-submit-button {
  background-color: #2e982e;
  color: #ffffff;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.2s ease-in, top 0.2s ease-in;
  height: 50px;
  width: 240px;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
#form-user-submit-button:hover {
  background-color: #30ce38;
}
@media screen and (min-width: 768px) {
  #form-user-submit-button {
    width: 300px;
  }
}

#delete-button-cancel {
  color: #5c5c5c;
  cursor: pointer;
}

#delete-button-confirm {
  background-color: #D50000;
  color: #ffffff;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.2s ease-in, top 0.2s ease-in;
  width: 150px;
  height: 50px;
  font-size: 16px;
}
#delete-button-confirm:hover {
  background-color: #ef4c4c;
}

#card-small {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-items: normal;
  width: 130px;
  height: 220px;
  margin: 3px;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  transition: 200ms;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  #card-small {
    width: 200px;
    height: 250px;
    margin: 15px;
  }
}

#card-small-top-container {
  height: 210px;
}

.card-button-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: flex-end;
}

.card-small-info-container {
  display: flex;
  justify-content: normal;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-items: center;
  height: 120px;
}
@media screen and (min-width: 768px) {
  .card-small-info-container {
    flex-direction: row;
  }
}

#card-large {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-items: normal;
  width: 300px;
  height: 400px;
  margin: 15px;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  transition: 200ms ease-in;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  #card-large {
    width: 500px;
    height: 550px;
  }
}

#card-large-top-container {
  display: flex;
  justify-content: normal;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-items: normal;
}

#card-large-top-user-info-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-items: normal;
  width: 100%;
}

#card-large-user-info-container {
  display: flex;
  justify-content: normal;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-items: center;
}

.card-large-other-info-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: center;
}

.card-icon-container {
  margin-right: 10px;
}

#card-large-back-btn-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: normal;
}

.card-user-text {
  padding-bottom: 5px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .card-user-text {
    text-align: left;
  }
}

#form {
  background-color: #ffffff;
  box-shadow: rgba(18, 79, 222, 0.15) 0px 2px 8px;
  border-radius: 5px;
  border: 1px solid #5c5c5c;
  min-width: 200px;
  min-height: 300px;
  padding: 10px;
  margin: 40px;
}
@media screen and (min-width: 768px) {
  #form {
    margin: 0;
    min-width: 400px;
    min-height: 500px;
  }
}

#form-user-title-text {
  text-align: center;
}

#form-contents-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-items: normal;
}

.form-user-content {
  display: flex;
  justify-content: normal;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-items: normal;
  margin: 25px;
}

.asterisk {
  color: #D50000;
}

.form-user-input {
  height: 30px;
  margin-top: 3px;
  padding: 2px 8px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  border-radius: 5px;
  outline: none;
  font-family: "Open Sans";
  border-style: solid;
  border-width: 1px;
}
.form-user-input:focus {
  border: 2.5px solid #1a1f71;
}

#form-user-button-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-items: center;
  margin: 25px 0px;
}

#cancel-link {
  margin-top: 10px;
}

.PhoneInputInput {
  height: 30px;
}

#delete-screen-container {
  height: 300px;
  width: 400px;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-items: center;
  background-color: white;
}

#delete-button-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: center;
  width: 100%;
}

#delete-screen-text {
  text-align: center;
}

#card-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

#home-page-container {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-items: normal;
  max-width: 1140px;
}

#add-button-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: normal;
  margin: 10px;
}

#top-nav {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: normal;
  background-color: #ffffff;
}

.top-nav-title-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: center;
}

#top-nav-link {
  text-decoration: none;
  color: #5c5c5c;
}
#top-nav-link:hover {
  color: #1a1f71;
}

#footer {
  width: 100%;
  background-color: white;
}

#footer-text {
  color: #5c5c5c;
  display: flex;
}

#footer-text-container {
  margin-left: 15px;
}/*# sourceMappingURL=main.css.map */