/// @type List
$text-font: "Open Sans" !default;

/// @type FlexControl
$normal: normal;
/// @type FlexControl
$center: center;
/// @type FlexControl
$flex-start: flex-start;
/// @type FlexControl
$flex-end: flex-end;
/// @type FlexControl
$space-evenly: space-evenly;
/// @type FlexControl
$space-between: space-between;
/// @type FlexControl
$space-around: space-around;
/// @type FlexControl
$column: column;
/// @type FlexControl
$row: row;
/// @type FlexControl
$wrap: wrap;
/// @type FlexControl
$no-wrap: no-wrap;


/// @type Color
$primary-text: #5c5c5c;
/// @type Color
$secondary-text: #ffffff;
/// @type Color
$primary-color: #1a1f71; 
/// @type Color
$primary-color-hover: #003ea9;
/// @type Color
$success-color: #2e982e;
/// @type Color
$success-color-hover: #30ce38;
/// @type Color
$secondary-color: #f7b600;
/// @type Color
$secondary-color-hover: #FFD700;
/// @type Color
$danger-color:#D50000;
/// @type Color
$danger-color-hover:#ef4c4c;
/// @type Color
$modal-backdrop:rgba(35,46,70,.1);
/// @type Color
$light-background:#EEEEEE;

//from: https://getcssscan.com/css-box-shadow-examples
/// @type BoxShadow
$box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
/// @type BoxShadow
$box-shadow-secondary: rgba(18, 79, 222, 0.15) 0px 2px 8px;
//bootstrap-defined breakpoints
$breakpoints: (
  small: 576px,
  medium: 768px,
  large: 992px,
  xLarge: 1200px,
);
