#card-small{
    min-width: 200px;
    min-height:250px;
    margin:15px;
    padding:25px;
    box-shadow: $box-shadow;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

#card-small-top-container{

}
#card-small-bottom-container{
    
}