#card-small {
  @include flex($space-between, $column);
  width: 130px;
  height: 220px;
  margin: 3px;
  padding: 25px;
  box-shadow: $box-shadow;
  transition: 200ms;
  background-color: $secondary-text;
  @include mq(medium) {
    width: 200px;
    height: 250px;
    margin: 15px;
  }
}
#card-small-top-container{
  height:210px;
}
.card-button-container {
  @include flex($space-evenly, $row, $no-wrap, $flex-end);
}

.card-small-info-container {
  @include flex($normal, $column, $no-wrap, $center);
  height:120px;
  @include mq(medium){
    flex-direction: $row;
  }
}
#card-large {
  @include flex($space-between, $column);
  width: 300px;
  height: 400px;
  margin: 15px;
  padding: 25px;
  box-shadow: $box-shadow;
  transition: 200ms ease-in;
  background-color: $secondary-text;
  @include mq(medium) {
    width: 500px;
    height: 550px;
  }
}
#card-large-top-container {
  @include flex($normal, $column);
}

#card-large-top-user-info-container {
  @include flex($center, $column);
  width: 100%;
}
#card-large-user-info-container {
  @include flex($normal, $column, $no-wrap, $center);
}
.card-large-other-info-container {
  @include flex($center, $row, $no-wrap, $center);
}
.card-icon-container {
  margin-right: 10px;
}
#card-large-back-btn-container {
  @include flex($flex-end);
}
.card-user-text {
  padding-bottom: 5px;
  text-align: center;
  @include mq(medium){
    text-align: left;
  }
}
