#form {
  box-shadow: $box-shadow-secondary;
  border-radius: 5px;
  border: 1px solid $primary-text;
  min-width: 200px;
  min-height: 300px;
  padding: 10px;
  margin: 40px;
  @include mq(medium) {
    margin: 0;
    min-width: 400px;
    min-height: 500px;
  }
}
#add-user-title-text {
  text-align: center;
}
#form-contents-container {
  @include flex($space-evenly, $column);
}
.add-user-form-content {
  @include flex($normal, $column);
  margin: 25px;
}
.asterisk {
  color: $danger-color;
}
.add-user-input {
  @include input;
}
#add-user-button-container {
  @include flex($space-evenly, $column, $no-wrap, $center);
  margin: 25px 0px;
}

#cancel-link {
  margin-top: 10px;
}
.PhoneInputInput{
  height:30px;
}