#form {
  background-color: $secondary-text;
  box-shadow: $box-shadow-secondary;
  border-radius: 5px;
  border: 1px solid $primary-text;
  min-width: 200px;
  padding: 10px;
  margin: 40px;
  height: 665px;
  @include mq(medium) {
    margin: 10px;
    min-width: 400px;
  }
}
#form-user-title-text {
  text-align: center;
}
#form-contents-container {
  @include flex($space-evenly, $column);
}
.form-user-content {
  @include flex($normal, $column);
  margin: 25px;
}
.asterisk {
  color: $danger-color;
}
.form-user-input {
  @include input;
}
#form-user-button-container {
  @include flex($space-evenly, $column, $no-wrap, $center);
  margin: 25px 0px;
}

#cancel-link {
  margin-top: 10px;
}
.PhoneInputInput {
  height: 30px;
}
#form-phone-error-message {
  text-align: center;
  padding-top: 10px;
  margin: 0;
  color: $danger-color;
}
